@model SiteInstitucionalBandup.Models.Loja

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Lojas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLoja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeLoja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkLoja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkLoja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
